.marker-arrowheads {
  display: none;
}

.link-tools {
  display: none;
}

.marker-vertex {
  display: none;
}

.marker-vertices {
  display: none;
}

.marker-vertex-remove-area {
  display: none;
}

#paper {
  background: #263748;
  min-width: 100% !important;
  min-height: calc(100vh - 147px) !important;
}

body {
  background: #263748;
  margin: 0px;
  font-family: monospace;
}

#content {
  margin: 8px 8px 48px 8px;
}

#ratio {
  width: 100vw;
  max-width: 100%;
  height: 50px;
  display: block;
}

#ratio div {
  height: 50px;
  display: inline-block;
  box-sizing: border-box;
  min-width: 2px;
  border-right: 1px solid #263748;
}

#ratio div:last-child {
  border-right: none;
}

#index h1 {
  color: #fff;
}

#index p {
  color: #fff;
}

#index a {
  color: #fff;
}

#footer {
  color: #fff;
  position: fixed;
  bottom: 0;
  width: 100vw;
  max-width: 100%;
  display: block;
  height: 40px;
  background: #263748;
  margin: 0;
}

#header {
  display: flex;
  height: 40px;
  background: #1a252f;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  flex-direction: row;
  z-index: 100;
}

#title {
  height: 40px;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  white-space: nowrap;
}

#title h1 {
  color: #fff;
  margin-top: 12px;
}

#burger {
  height: 32px;
  padding-top: 4px;
  padding-left: 4px;
  display: flex;
  flex-shrink: 1;
  flex-direction: row;
  vertical-align: top;
}

#burger-content {
  display: none;
  width: 200px;
  color: #fff;
  position: fixed;
  top: 40px;
  left: 0;
}

#burger-content a {
  width: 100%;
  height: 30px;
  cursor: pointer;
  display: block;
  padding-left: 12px;
  padding-top: 12px;
  background: #1a252f;
}

#burger-content a:hover {
  background: #1d2935;
}

#home {
  height: 32px;
  padding-top: 4px;
  padding-left: 4px;
  display: flex;
  flex-shrink: 1;
  flex-direction: row;
  vertical-align: top;
}

#home button {
  padding: 4px 10px;
}

#re-centre, #compare {
  height: 32px;
  padding-top: 4px;
  padding-left: 4px;
  display: flex;
  flex-shrink: 1;
  flex-direction: row;
  vertical-align: top;
}

#re-centre button, #compare button {
  padding: 4px 10px;
}

#print {
  display: none;
  position: absolute;
  z-index: 200;
  top: 100px;
}

button {
  text-decoration: none;
  text-align: center;
  background: #1a252f;
  color: #fff;
  padding: 8px 10px;
  font-size: 13pt;
  border: none;
  border-radius: 6px;
}

button:hover {
  cursor: pointer;
  background: #263748;
}

button:focus {
  outline: none;
}

.version-selector {
  display: flex;
  flex-shrink: 1;
  flex-direction: row;
  height: 40px;
  padding-top: 4px;
  padding-right: 4px;
  vertical-align: top;
  text-align: right;
  width: 90px;
  margin-left: 22px;
}

.version-selector select {
  background: #1a252f;
  color: #fff;
  padding: 8px 10px;
  font-size: 13pt;
  border-radius: 6px;
  border: none;
  height: 32px;
  width: 90px;
}

.version-selector select:hover {
  cursor: pointer;
  background: #263748;
}

.version-selector select:focus {
  outline: none;
}

#ak-logo {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 180px;
  height: 30px;
  text-align: right;
  padding: 5px 8px;
  display: block;
}

#copyright {
  position: absolute;
  bottom: 0;
  color: #fff;
  padding: 5px 8px;
  display: block;
  width: 60%;
}

#copyright .text {
  position: absolute;
  bottom: 0;
  padding: 5px 0;
}

#paper-container {
  width: 100%;
  display: block;
  position: relative;
  overflow: hidden;
  margin-top: 40px;
}

#ratio-container {
  text-align: center;
  margin-top: 10px;
  padding-bottom: 4px;
  width: 100vw;
  max-width: calc(100% - 16px);
  display: none;
  position: fixed;
  bottom: 40px;
  background: #263748;
}

#ak-logo-img-print {
  display: none;
  visibility: hidden;
}

#cli {
  color: #fff;
  font-size: 13pt;
  position: fixed;
  bottom: 45px;
  right: 0;
}

#cli a {
  color: #fff;
  text-decoration: none;
}

@media print {
  @page {
    size: A4 landscape;
    margin: 0;
  }

  #burger {
    display: none;
    visibility: hidden;
  }

  #burger-content {
    display: none;
    visibility: hidden;
  }

  #ak-logo-img {
    display: none;
    visibility: hidden;
  }

  #ak-logo-img-print {
    visibility: inherit;
    display: inherit;
  }

  #paper {
    max-width: 285mm;
    max-height: 150mm;
  }

  #paper svg {
    width: 285mm;
    height: 150mm;
  }

  #content {
    margin: 1.6cm;
  }

  #footer {
    margin-bottom: 1.6cm;
    margin-top: 0;
  }

  #copyright {
    margin-left: 1.6cm;
    color: #000;
  }

  #ak-logo {
    margin-right: 1.6cm;
  }

  #print {
    display: none;
    visibility: hidden;
  }

  #select-version-selector {
    display: none;
    visibility: hidden;
  }

  .uml-node-title-rect {
    stroke: #000;
    stroke-width: 2px;
  }

  .uml-node-description-rect {
    stroke: #000;
    stroke-width: 2px;
  }

  .uml-info-flow-rect {
    stroke: #000;
    stroke-width: 2px;
  }

  #title h1 {
    color: #000;
  }

  #ratio-container {
    display: none;
    visibility: hidden;
  }

  .uml-node-lead-time-rect {
    stroke: #000;
    stroke-width: 1px;
  }

  .uml-node-process-time-rect {
    stroke: #000;
    stroke-width: 1px;
  }

  .uml-node-activity-ratio-rect {
    stroke: #000;
    stroke-width: 1px;
  }

  .uml-node-ca-ratio-rect {
    stroke: #000;
    stroke-width: 1px;
  }

  .uml-summary-rect {
    stroke: #000;
    stroke-width: 1px;
  }

  .uml-summary-lead-time-rect {
    stroke: #000;
    stroke-width: 1px;
  }

  .uml-summary-process-time-rect {
    stroke: #000;
    stroke-width: 1px;
  }

  .uml-summary-activity-ratio-rect {
    stroke: #000;
    stroke-width: 1px;
  }

  .uml-summary-ca-ratio-rect {
    stroke: #000;
    stroke-width: 1px;
  }
}

.docs {
  text-decoration:none;
}

/* The ribbons */

.corner-ribbon{
  width: 200px;
  background: #d14aee;
  text-align: center;
  line-height: 50px;
  letter-spacing: 1px;
  color: #f0f0f0;

  position: fixed;
  box-shadow: 0 0 3px rgba(0,0,0,.3);
  top: 25px;
  right: -50px;
  left: auto;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
